<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="rpcEndpoint" value="http://10.66.28.237:8545"/>
    <add key="addressFrom" value="0x6aa1210e1a0faa952b465b019f6a7554fc67b8e8"/>
  </appSettings>
</configuration>
